In [11]:
print('hello world')

hello world

In [1]:
import pandas as pd
import re

# Read CSV
df = pd.read_csv("data/data.csv")

# Inspect
print(list(df.columns))
print(len(df.columns))

['PUBID', 'YINC-1700', 'YINC-1800', 'KEY!SEX', 'KEY!BDATE_M', 'KEY!BDATE_Y', 'CV_CENSUS_REGION', 'CV_INCOME_GROSS_YR', 'CV_HH_INCOME_SOURCE', 'CV_HH_SIZE', 'CV_MSA', 'CV_URBAN-RURAL', 'CV_SAMPLE_TYPE', 'KEY!RACE_ETHNICITY', 'YINC-1700.1', 'YINC-1800.1', 'CV_CENSUS_REGION.1', 'CV_HGC_9899', 'CV_INCOME_GROSS_YR.1', 'CV_HH_SIZE.1', 'CV_HIGHEST_DEGREE_9899', 'CV_MSA.1', 'CV_URBAN-RURAL.1', 'YINC-1700.2', 'YINC-1800.2', 'CV_CENSUS_REGION.2', 'CV_HGC_9900', 'CV_INCOME_GROSS_YR.2', 'CV_HH_SIZE.2', 'CV_HIGHEST_DEGREE_9900', 'CV_MSA.2', 'CV_URBAN-RURAL.2', 'CV_MIGRATE.01', 'CV_MIGRATE.02', 'CV_MIGRATE.03', 'CV_MIGRATE.04', 'CV_MIGRATE.05', 'CV_MIGRATE.06', 'CV_MIGRATE.01.1', 'CV_MIGRATE.02.1', 'CV_MIGRATE.03.1', 'CV_MIGRATE.04.1', 'CV_MIGRATE.05.1', 'CV_MIGRATE.06.1', 'CV_MIGRATE.07', 'YINC-1700.3', 'YINC-1800.3', 'CV_CENSUS_REGION.3', 'CV_HGC_0001', 'CV_INCOME_GROSS_YR.3', 'CV_HH_SIZE.3', 'CV_HIGHEST_DEGREE_0001', 'CV_MSA.3', 'CV_URBAN-RURAL.3', 'CV_MIGRATE.01.2', 'CV_MIGRATE.02.2', 'CV_MIGRATE.03.2', 'CV_MIGRATE.04.2', 'CV_MIGRATE.05.2', 'YINC-1700.4', 'YINC-1800.4', 'CV_CENSUS_REGION.4', 'CV_HGC_0102', 'CV_INCOME_GROSS_YR.4', 'CV_HH_SIZE.4', 'CV_HIGHEST_DEGREE_0102', 'CV_MSA.4', 'CV_URBAN-RURAL.4', 'CV_MIGRATE.01.3', 'CV_MIGRATE.02.3', 'CV_MIGRATE.03.3', 'CV_MIGRATE.04.3', 'CV_MIGRATE.05.3', 'CV_MIGRATE.06.2', 'TRANS_SAT_VERBAL', 'TRANS_SAT_MATH', 'YINC-1700.5', 'YINC-1800.5', 'CV_MIGRATE.01.4', 'CV_MIGRATE.02.4', 'CV_MIGRATE.03.4', 'CV_MIGRATE.04.4', 'CV_MIGRATE.05.4', 'CV_MIGRATE.06.3', 'CV_MIGRATE.07.1', 'CV_MIGRATE.08', 'CV_MIGRATE.09', 'CV_MIGRATE.10', 'CV_CENSUS_REGION.5', 'CV_HGC_0203', 'CV_INCOME_GROSS_YR.5', 'CV_HH_SIZE.5', 'CV_HIGHEST_DEGREE_0203', 'CV_MSA.5', 'CV_URBAN-RURAL.5', 'CV_MIGRATE.01.5', 'CV_MIGRATE.02.5', 'CV_MIGRATE.03.5', 'CV_MIGRATE.04.5', 'CV_MIGRATE.05.5', 'CV_MIGRATE.06.4', 'CV_MIGRATE.07.2', 'CV_CENSUS_REGION.6', 'CV_HGC_0304', 'CV_INCOME_GROSS_YR.6', 'CV_HH_SIZE.6', 'CV_HIGHEST_DEGREE_0304', 'CV_MSA.6', 'CV_URBAN-RURAL.6', 'YINC-1700.6', 'YINC-1800.6', 'CV_MIGRATE.01.6', 'CV_MIGRATE.02.6', 'CV_MIGRATE.03.6', 'CV_MIGRATE.04.6', 'CV_MIGRATE.05.6', 'CV_MIGRATE.06.5', 'CV_MIGRATE.07.3', 'CV_MIGRATE.08.1', 'CV_CENSUS_REGION.7', 'CV_HGC_0405', 'CV_INCOME_FAMILY', 'CV_HH_SIZE.7', 'CV_HIGHEST_DEGREE_0405', 'CV_MSA.7', 'CV_URBAN-RURAL.7', 'YINC-1700.7', 'YINC-1800.7', 'CV_MIGRATE.01.7', 'CV_MIGRATE.02.7', 'CV_MIGRATE.03.7', 'CV_MIGRATE.04.7', 'CV_MIGRATE.05.7', 'CV_MIGRATE.06.6', 'CV_MIGRATE.07.4', 'CV_CENSUS_REGION.8', 'CV_HGC_0506', 'CV_INCOME_FAMILY.1', 'CV_HH_SIZE.8', 'CV_HIGHEST_DEGREE_0506', 'CV_MSA.8', 'CV_URBAN-RURAL.8', 'YINC-1700.8', 'YINC-1800.8', 'CV_MIGRATE.01.8', 'CV_MIGRATE.02.8', 'CV_MIGRATE.03.8', 'CV_MIGRATE.04.8', 'CV_MIGRATE.05.8', 'CV_MIGRATE.06.7', 'CV_MIGRATE.07.5', 'CV_MIGRATE.08.2', 'CV_MIGRATE.09.1', 'CV_CENSUS_REGION.9', 'CV_HGC_0607', 'CV_INCOME_FAMILY.2', 'CV_HH_SIZE.9', 'CV_HIGHEST_DEGREE_0607', 'CV_MSA.9', 'CV_URBAN-RURAL.9', 'YINC-1700.9', 'YINC-1800.9', 'CV_MIGRATE.01.9', 'CV_MIGRATE.02.9', 'CV_MIGRATE.03.9', 'CV_MIGRATE.04.9', 'CV_MIGRATE.05.9', 'CV_MIGRATE.06.8', 'CV_CENSUS_REGION.10', 'CV_HGC_0708', 'CV_INCOME_FAMILY.3', 'CV_HH_SIZE.10', 'CV_HIGHEST_DEGREE_0708', 'CV_MSA.10', 'CV_URBAN-RURAL.10', 'YINC-1700.10', 'YINC-1800.10', 'CV_MIGRATE.01.10', 'CV_MIGRATE.02.10', 'CV_MIGRATE.03.10', 'CV_MIGRATE.04.10', 'CV_MIGRATE.05.10', 'CV_MIGRATE.06.9', 'CV_MIGRATE.07.6', 'CV_MIGRATE.08.3', 'CV_MIGRATE.09.2', 'CV_CENSUS_REGION.11', 'CV_HGC_0809', 'CV_INCOME_FAMILY.4', 'CV_HH_SIZE.11', 'CV_HIGHEST_DEGREE_0809', 'CV_MSA.11', 'CV_URBAN-RURAL.11', 'YINC-1700.11', 'YINC-1800.11', 'CV_MIGRATE.01.11', 'CV_MIGRATE.02.11', 'CV_MIGRATE.03.11', 'CV_MIGRATE.04.11', 'CV_MIGRATE.05.11', 'CV_MIGRATE.06.10', 'CV_MIGRATE.07.7', 'CV_MIGRATE.08.4', 'CV_MIGRATE.09.3', 'CV_MIGRATE.10.1', 'CV_CENSUS_REGION.12', 'CV_HGC_0910', 'CV_INCOME_FAMILY.5', 'CV_HH_SIZE.12', 'CV_HIGHEST_DEGREE_0910', 'CV_MSA.12', 'CV_URBAN-RURAL.12', 'YINC-1700.12', 'YINC-1800.12', 'CV_MIGRATE.01.12', 'CV_MIGRATE.02.12', 'CV_MIGRATE.03.12', 'CV_MIGRATE.04.12', 'CV_MIGRATE.05.12', 'CV_MIGRATE.06.11', 'CV_CENSUS_REGION.13', 'CV_HGC_EVER_EDT', 'CV_HGC_1011', 'CV_INCOME_FAMILY.6', 'CV_HH_SIZE.13', 'CV_HIGHEST_DEGREE_EVER_EDT', 'CV_HIGHEST_DEGREE_1011', 'CV_MSA.13', 'CV_URBAN-RURAL.13', 'YINC-1700.13', 'YINC-1800.13', 'CV_MIGRATE.01.13', 'CV_MIGRATE.02.13', 'CV_MIGRATE.03.13', 'CV_MIGRATE.04.13', 'CV_MIGRATE.05.13', 'CV_MIGRATE.06.12', 'CV_CENSUS_REGION.14', 'CV_HGC_EVER_EDT.1', 'CV_HGC_1112', 'CV_INCOME_FAMILY.7', 'CV_HH_SIZE.14', 'CV_HIGHEST_DEGREE_EVER_EDT.1', 'CV_HIGHEST_DEGREE_1112', 'CV_MSA.14', 'CV_URBAN-RURAL.14', 'YINC-1700.14', 'YINC-1800.14', 'CV_MIGRATE.01.14', 'CV_MIGRATE.02.14', 'CV_MIGRATE.03.14', 'CV_MIGRATE.04.14', 'CV_MIGRATE.05.14', 'CV_MIGRATE.06.13', 'CV_MIGRATE.07.8', 'CV_MIGRATE.08.5', 'CV_MIGRATE.09.4', 'CV_CENSUS_REGION.15', 'CV_HGC_EVER_EDT.2', 'CV_HGC_1314', 'CV_INCOME_FAMILY.8', 'CV_HH_SIZE.15', 'CV_HIGHEST_DEGREE_EVER_EDT.2', 'CV_HIGHEST_DEGREE_1314', 'CV_MSA.15', 'CV_URBAN-RURAL.15', 'YINC-1700.15', 'YINC-1800.15', 'CV_MIGRATE.01.15', 'CV_MIGRATE.02.15', 'CV_MIGRATE.03.15', 'CV_MIGRATE.04.15', 'CV_MIGRATE.05.15', 'CV_MIGRATE.06.14', 'CV_MIGRATE.07.9', 'CV_MIGRATE.08.6', 'CV_MIGRATE.09.5', 'CV_CENSUS_REGION.16', 'CV_HGC_EVER_EDT.3', 'CV_INCOME_FAMILY.9', 'CV_HH_SIZE.16', 'CV_HIGHEST_DEGREE_EVER_EDT.3', 'CV_MSA.16', 'CV_URBAN-RURAL.16', 'YINC-1700.16', 'YINC-1800.16', 'CV_MIGRATE.01.16', 'CV_MIGRATE.02.16', 'CV_MIGRATE.03.16', 'CV_MIGRATE.04.16', 'CV_MIGRATE.05.16', 'CV_MIGRATE.06.15', 'CV_MIGRATE.07.10', 'CV_MIGRATE.08.7', 'CV_MIGRATE.09.6', 'CV_MIGRATE.10.2', 'CV_CENSUS_REGION.17', 'CV_HGC_EVER_EDT.4', 'CV_INCOME_FAMILY.10', 'CV_HH_SIZE.17', 'CV_HIGHEST_DEGREE_EVER_EDT.4', 'CV_MSA.17', 'CV_URBAN-RURAL.17', 'YINC-1700.17', 'YINC-1800.17', 'CV_MIGRATE.01.17', 'CV_MIGRATE.02.17', 'CV_MIGRATE.03.17', 'CV_MIGRATE.04.17', 'CV_MIGRATE.05.17', 'CV_MIGRATE.06.16', 'CV_MIGRATE.07.11', 'CV_MIGRATE.08.8', 'CV_MIGRATE.09.7', 'CV_MIGRATE.10.3', 'CV_CENSUS_REGION.18', 'CV_HGC_EVER_EDT.5', 'CV_INCOME_FAMILY.11', 'CV_HH_SIZE.18', 'CV_HIGHEST_DEGREE_EVER_EDT.5', 'CV_MSA.18', 'CV_URBAN-RURAL.18', 'YINC-1700.18', 'YINC-1800.18', 'YINC-7601', 'YINC-7602', 'YINC-8001', 'YINC-8002', 'YINC-8003', 'CV_MIGRATE.01.18', 'CV_MIGRATE.02.18', 'CV_MIGRATE.03.18', 'CV_MIGRATE.04.18', 'CV_MIGRATE.05.18', 'CV_MIGRATE.06.17', 'CV_CENSUS_REGION.19', 'CV_HGC_EVER_EDT.6', 'CV_INCOME_FAMILY.12', 'CV_HH_SIZE.19', 'CV_HIGHEST_DEGREE_EVER_EDT.6', 'CV_MSA.19', 'CV_URBAN-RURAL.19', 'YINC-1700.19', 'YINC-1800.19', 'YINC-7601.1', 'YINC-7602.1', 'YINC-8001.1', 'YINC-8002.1', 'YINC-8003.1', 'CVC_GRADES_REPEAT_EVER_2007', 'CVC_GRADE_SKIPPED_EVER_2007', 'CVC_HGC_EVER', 'CVC_HIGHEST_DEGREE_EVER', 'CVC_SCH_ATTEND_EVER', 'CVC_GED', 'CVC_HS_DIPLOMA', 'CVC_AA_DEGREE', 'CVC_BA_DEGREE', 'CVC_PROF_DEGREE', 'CVC_PHD_DEGREE', 'CVC_MA_DEGREE', 'CVC_HS_LEFT_DATE', 'CVC_HS_LEFT_HGC', 'CVC_HS_LEFT_HGA']
364

In [3]:
yinc_cols = [c for c in df.columns if c.startswith("YINC-")]

(df[yinc_cols] > 0).sum()

YINC-1700       3507
YINC-1800        357
YINC-1700.1     3553
YINC-1800.1      516
YINC-1700.2     3384
YINC-1800.2      759
YINC-1700.3     3817
YINC-1800.3     1019
YINC-1700.4     4478
YINC-1800.4      869
YINC-1700.5     4315
YINC-1800.5     1453
YINC-1700.6     4499
YINC-1800.6     1395
YINC-1700.7     4457
YINC-1800.7     1379
YINC-1700.8     4558
YINC-1800.8     1301
YINC-1700.9     5057
YINC-1800.9     1217
YINC-1700.10    5058
YINC-1800.10    1208
YINC-1700.11    5427
YINC-1800.11     877
YINC-1700.12    5627
YINC-1800.12     649
YINC-1700.13    5221
YINC-1800.13     632
YINC-1700.14    5278
YINC-1800.14     530
YINC-1700.15    5193
YINC-1800.15     550
YINC-1700.16    4964
YINC-1800.16     716
YINC-1700.17    5060
YINC-1800.17     370
YINC-1700.18    5376
YINC-1800.18     277
YINC-7601        593
YINC-7602         98
YINC-8001       5838
YINC-8002       5717
YINC-8003       5796
YINC-1700.19    5170
YINC-1800.19     236
YINC-7601.1      614
YINC-7602.1       93
YINC-8001.1     5730
YINC-8002.1     5668
YINC-8003.1     5700
dtype: int64

In [13]:
keep_exact = [
    "PUBID",
    "KEY!SEX",
    "KEY!BDATE_Y",
    "KEY!RACE_ETHNICITY",
]

keep_prefixes = [
    "CV_MSA",          # location / treatment
    "CV_CENSUS_REGION",
    "CV_URBAN-RURAL",
    "CV_HH",
    "YINC-1700",       # main outcome
    "YINC-1800",       # robustness outcome
]

def keep_col(col):
    if col in keep_exact:
        return True
    return any(col.startswith(prefix) for prefix in keep_prefixes)

cols_to_keep = [c for c in df.columns if keep_col(c)]

In [14]:
df_clean = df[cols_to_keep].copy()
df_clean = df_clean.sort_index(axis=1)
df_clean.to_csv("data/nlsy97_msa_migration_panel.csv", index=False)

In [15]:
df_clean.info()
print(list(df_clean.columns))

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8984 entries, 0 to 8983
Columns: 125 entries, CV_CENSUS_REGION to YINC-1800.9
dtypes: int64(125)
memory usage: 8.6 MB
['CV_CENSUS_REGION', 'CV_CENSUS_REGION.1', 'CV_CENSUS_REGION.10', 'CV_CENSUS_REGION.11', 'CV_CENSUS_REGION.12', 'CV_CENSUS_REGION.13', 'CV_CENSUS_REGION.14', 'CV_CENSUS_REGION.15', 'CV_CENSUS_REGION.16', 'CV_CENSUS_REGION.17', 'CV_CENSUS_REGION.18', 'CV_CENSUS_REGION.19', 'CV_CENSUS_REGION.2', 'CV_CENSUS_REGION.3', 'CV_CENSUS_REGION.4', 'CV_CENSUS_REGION.5', 'CV_CENSUS_REGION.6', 'CV_CENSUS_REGION.7', 'CV_CENSUS_REGION.8', 'CV_CENSUS_REGION.9', 'CV_HH_INCOME_SOURCE', 'CV_HH_SIZE', 'CV_HH_SIZE.1', 'CV_HH_SIZE.10', 'CV_HH_SIZE.11', 'CV_HH_SIZE.12', 'CV_HH_SIZE.13', 'CV_HH_SIZE.14', 'CV_HH_SIZE.15', 'CV_HH_SIZE.16', 'CV_HH_SIZE.17', 'CV_HH_SIZE.18', 'CV_HH_SIZE.19', 'CV_HH_SIZE.2', 'CV_HH_SIZE.3', 'CV_HH_SIZE.4', 'CV_HH_SIZE.5', 'CV_HH_SIZE.6', 'CV_HH_SIZE.7', 'CV_HH_SIZE.8', 'CV_HH_SIZE.9', 'CV_MSA', 'CV_MSA.1', 'CV_MSA.10', 'CV_MSA.11', 'CV_MSA.12', 'CV_MSA.13', 'CV_MSA.14', 'CV_MSA.15', 'CV_MSA.16', 'CV_MSA.17', 'CV_MSA.18', 'CV_MSA.19', 'CV_MSA.2', 'CV_MSA.3', 'CV_MSA.4', 'CV_MSA.5', 'CV_MSA.6', 'CV_MSA.7', 'CV_MSA.8', 'CV_MSA.9', 'CV_URBAN-RURAL', 'CV_URBAN-RURAL.1', 'CV_URBAN-RURAL.10', 'CV_URBAN-RURAL.11', 'CV_URBAN-RURAL.12', 'CV_URBAN-RURAL.13', 'CV_URBAN-RURAL.14', 'CV_URBAN-RURAL.15', 'CV_URBAN-RURAL.16', 'CV_URBAN-RURAL.17', 'CV_URBAN-RURAL.18', 'CV_URBAN-RURAL.19', 'CV_URBAN-RURAL.2', 'CV_URBAN-RURAL.3', 'CV_URBAN-RURAL.4', 'CV_URBAN-RURAL.5', 'CV_URBAN-RURAL.6', 'CV_URBAN-RURAL.7', 'CV_URBAN-RURAL.8', 'CV_URBAN-RURAL.9', 'KEY!BDATE_Y', 'KEY!RACE_ETHNICITY', 'KEY!SEX', 'PUBID', 'YINC-1700', 'YINC-1700.1', 'YINC-1700.10', 'YINC-1700.11', 'YINC-1700.12', 'YINC-1700.13', 'YINC-1700.14', 'YINC-1700.15', 'YINC-1700.16', 'YINC-1700.17', 'YINC-1700.18', 'YINC-1700.19', 'YINC-1700.2', 'YINC-1700.3', 'YINC-1700.4', 'YINC-1700.5', 'YINC-1700.6', 'YINC-1700.7', 'YINC-1700.8', 'YINC-1700.9', 'YINC-1800', 'YINC-1800.1', 'YINC-1800.10', 'YINC-1800.11', 'YINC-1800.12', 'YINC-1800.13', 'YINC-1800.14', 'YINC-1800.15', 'YINC-1800.16', 'YINC-1800.17', 'YINC-1800.18', 'YINC-1800.19', 'YINC-1800.2', 'YINC-1800.3', 'YINC-1800.4', 'YINC-1800.5', 'YINC-1800.6', 'YINC-1800.7', 'YINC-1800.8', 'YINC-1800.9']

In [16]:
year_map = {
    0: 1997,
    1: 1998,
    2: 1999,
    3: 2000,
    4: 2001,
    5: 2002,
    6: 2003,
    7: 2004,
    8: 2005,
    9: 2006,
    10: 2007,
    11: 2008,
    12: 2009,
    13: 2010,
    14: 2011,
    15: 2013,
    16: 2015,
    17: 2017,
    18: 2019,
    19: 2021
}

def rename_col(col):
    # identifiers (no year)
    if col in ["PUBID", "KEY!SEX", "KEY!BDATE_Y", "KEY!RACE_ETHNICITY"]:
        return col.lower()

    # match variable + optional year suffix
    m = re.match(r"(.+?)(?:\.(\d+))?$", col)
    base, idx = m.groups()

    year = year_map[int(idx)] if idx is not None else 1997

    base_map = {
        "CV_MSA": "in_msa",
        "CV_CENSUS_REGION": "census_region",
        "CV_URBAN-RURAL": "urban_rural",
        "CV_HH_SIZE": "hh_size",
        "YINC-1700": "income_wages",
        "YINC-1800": "income_wages_est",
    }

    if base not in base_map:
        return col.lower()

    return f"{base_map[base]}_{year}"

In [ ]:
df2 = df_clean.rename(columns={c: rename_col(c) for c in df.columns})
df2.to_csv("data/df2.csv", index=False)

In [18]:
print(list(df2.columns))

['census_region_1997', 'census_region_1998', 'census_region_2007', 'census_region_2008', 'census_region_2009', 'census_region_2010', 'census_region_2011', 'census_region_2013', 'census_region_2015', 'census_region_2017', 'census_region_2019', 'census_region_2021', 'census_region_1999', 'census_region_2000', 'census_region_2001', 'census_region_2002', 'census_region_2003', 'census_region_2004', 'census_region_2005', 'census_region_2006', 'cv_hh_income_source', 'hh_size_1997', 'hh_size_1998', 'hh_size_2007', 'hh_size_2008', 'hh_size_2009', 'hh_size_2010', 'hh_size_2011', 'hh_size_2013', 'hh_size_2015', 'hh_size_2017', 'hh_size_2019', 'hh_size_2021', 'hh_size_1999', 'hh_size_2000', 'hh_size_2001', 'hh_size_2002', 'hh_size_2003', 'hh_size_2004', 'hh_size_2005', 'hh_size_2006', 'in_msa_1997', 'in_msa_1998', 'in_msa_2007', 'in_msa_2008', 'in_msa_2009', 'in_msa_2010', 'in_msa_2011', 'in_msa_2013', 'in_msa_2015', 'in_msa_2017', 'in_msa_2019', 'in_msa_2021', 'in_msa_1999', 'in_msa_2000', 'in_msa_2001', 'in_msa_2002', 'in_msa_2003', 'in_msa_2004', 'in_msa_2005', 'in_msa_2006', 'urban_rural_1997', 'urban_rural_1998', 'urban_rural_2007', 'urban_rural_2008', 'urban_rural_2009', 'urban_rural_2010', 'urban_rural_2011', 'urban_rural_2013', 'urban_rural_2015', 'urban_rural_2017', 'urban_rural_2019', 'urban_rural_2021', 'urban_rural_1999', 'urban_rural_2000', 'urban_rural_2001', 'urban_rural_2002', 'urban_rural_2003', 'urban_rural_2004', 'urban_rural_2005', 'urban_rural_2006', 'key!bdate_y', 'key!race_ethnicity', 'key!sex', 'pubid', 'income_wages_1997', 'income_wages_1998', 'income_wages_2007', 'income_wages_2008', 'income_wages_2009', 'income_wages_2010', 'income_wages_2011', 'income_wages_2013', 'income_wages_2015', 'income_wages_2017', 'income_wages_2019', 'income_wages_2021', 'income_wages_1999', 'income_wages_2000', 'income_wages_2001', 'income_wages_2002', 'income_wages_2003', 'income_wages_2004', 'income_wages_2005', 'income_wages_2006', 'income_wages_est_1997', 'income_wages_est_1998', 'income_wages_est_2007', 'income_wages_est_2008', 'income_wages_est_2009', 'income_wages_est_2010', 'income_wages_est_2011', 'income_wages_est_2013', 'income_wages_est_2015', 'income_wages_est_2017', 'income_wages_est_2019', 'income_wages_est_2021', 'income_wages_est_1999', 'income_wages_est_2000', 'income_wages_est_2001', 'income_wages_est_2002', 'income_wages_est_2003', 'income_wages_est_2004', 'income_wages_est_2005', 'income_wages_est_2006']

In [20]:
id_vars = [
    "pubid",
    "key!sex",
    "key!race_ethnicity",
    "key!bdate_y",
    "cv_hh_income_source"
]
long_df = (
    df2
    .melt(
        id_vars=id_vars,
        var_name="var_year",
        value_name="value"
    )
    .dropna(subset=["value"])
)
# Extract year (last 4 digits)
long_df["year"] = long_df["var_year"].str.extract(r"_(\d{4})").astype(int)

# Extract variable name (everything before _YYYY)
long_df["variable"] = long_df["var_year"].str.replace(r"_\d{4}$", "", regex=True)
panel_df = (
    long_df
    .pivot_table(
        index=id_vars + ["year"],
        columns="variable",
        values="value"
    )
    .reset_index()
)
panel_df.columns.name = None
panel_df = panel_df.sort_values(["pubid", "year"]).reset_index(drop=True)
panel_df["age"] = panel_df["year"] - panel_df["key!bdate_y"]
panel_df = panel_df[(panel_df["age"] >= 13) & (panel_df["age"] <= 18)]

In [22]:
panel_df.info()
panel_df.to_csv("data/panel_df.csv", index=False)

<class 'pandas.core.frame.DataFrame'>
Index: 36029 entries, 0 to 179663
Data columns (total 13 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   pubid                36029 non-null  int64
 1   key!sex              36029 non-null  int64
 2   key!race_ethnicity   36029 non-null  int64
 3   key!bdate_y          36029 non-null  int64
 4   cv_hh_income_source  36029 non-null  int64
 5   year                 36029 non-null  int32
 6   census_region        36029 non-null  float64
 7   hh_size              36029 non-null  float64
 8   in_msa               36029 non-null  float64
 9   income_wages         36029 non-null  float64
 10  income_wages_est     36029 non-null  float64
 11  urban_rural          36029 non-null  float64
 12  age                  36029 non-null  int64
dtypes: float64(6), int32(1), int64(6)
memory usage: 3.7 MB