In [315]:
import pandas as pd
import re
import numpy as np

# Read CSV
df = pd.read_csv("data/data.csv")

# Inspect
len(df)
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8984 entries, 0 to 8983
Columns: 364 entries, PUBID to CVC_HS_LEFT_HGA
dtypes: int64(364)
memory usage: 24.9 MB
None

In [316]:
keep_exact = {
    # identifiers / demographics
    "PUBID",
    "KEY!SEX",
    "KEY!BDATE_Y",
    "KEY!RACE_ETHNICITY",
}
keep_prefixes = (
    # Location / treatment
    "CV_MSA",
    "CV_CENSUS_REGION",
    "CV_URBAN-RURAL",

    # Income outcomes
    "YINC-1700",   # wage & salary income
    "YINC-1800",   # estimated wage income

    # Household background
    "CV_HH_SIZE",
    "CV_INCOME_FAMILY",
    "CV_INCOME_GROSS_YR",
    "CV_HH_INCOME_SOURCE",

    # Education (time-varying)
    "CV_HGC_",                # highest grade completed
    "CV_HIGHEST_DEGREE_",     # degree by year
)
keep_education_summary = {
    "CVC_HGC_EVER",
    "CVC_HIGHEST_DEGREE_EVER",
    "CVC_HS_DIPLOMA",
    "CVC_GED",
    "CVC_AA_DEGREE",
    "CVC_BA_DEGREE",
    "CVC_MA_DEGREE",
    "CVC_PHD_DEGREE",
    "CVC_PROF_DEGREE",
    "CVC_HS_LEFT_DATE",
    "CVC_HS_LEFT_HGC",
}
def is_excluded(col):
    return col.startswith("CV_MIGRATE.")
def keep_col(col):
    if col in keep_exact:
        return True
    if col in keep_education_summary:
        return True
    if is_excluded(col):
        return False
    return any(col.startswith(prefix) for prefix in keep_prefixes)
cols_to_keep = [c for c in df.columns if keep_col(c)]
df = df[cols_to_keep]

In [317]:
print(list(df.columns))
len(df)
df.info()

['PUBID', 'YINC-1700', 'YINC-1800', 'KEY!SEX', 'KEY!BDATE_Y', 'CV_CENSUS_REGION', 'CV_INCOME_GROSS_YR', 'CV_HH_INCOME_SOURCE', 'CV_HH_SIZE', 'CV_MSA', 'CV_URBAN-RURAL', 'KEY!RACE_ETHNICITY', 'YINC-1700.1', 'YINC-1800.1', 'CV_CENSUS_REGION.1', 'CV_HGC_9899', 'CV_INCOME_GROSS_YR.1', 'CV_HH_SIZE.1', 'CV_HIGHEST_DEGREE_9899', 'CV_MSA.1', 'CV_URBAN-RURAL.1', 'YINC-1700.2', 'YINC-1800.2', 'CV_CENSUS_REGION.2', 'CV_HGC_9900', 'CV_INCOME_GROSS_YR.2', 'CV_HH_SIZE.2', 'CV_HIGHEST_DEGREE_9900', 'CV_MSA.2', 'CV_URBAN-RURAL.2', 'YINC-1700.3', 'YINC-1800.3', 'CV_CENSUS_REGION.3', 'CV_HGC_0001', 'CV_INCOME_GROSS_YR.3', 'CV_HH_SIZE.3', 'CV_HIGHEST_DEGREE_0001', 'CV_MSA.3', 'CV_URBAN-RURAL.3', 'YINC-1700.4', 'YINC-1800.4', 'CV_CENSUS_REGION.4', 'CV_HGC_0102', 'CV_INCOME_GROSS_YR.4', 'CV_HH_SIZE.4', 'CV_HIGHEST_DEGREE_0102', 'CV_MSA.4', 'CV_URBAN-RURAL.4', 'YINC-1700.5', 'YINC-1800.5', 'CV_CENSUS_REGION.5', 'CV_HGC_0203', 'CV_INCOME_GROSS_YR.5', 'CV_HH_SIZE.5', 'CV_HIGHEST_DEGREE_0203', 'CV_MSA.5', 'CV_URBAN-RURAL.5', 'CV_CENSUS_REGION.6', 'CV_HGC_0304', 'CV_INCOME_GROSS_YR.6', 'CV_HH_SIZE.6', 'CV_HIGHEST_DEGREE_0304', 'CV_MSA.6', 'CV_URBAN-RURAL.6', 'YINC-1700.6', 'YINC-1800.6', 'CV_CENSUS_REGION.7', 'CV_HGC_0405', 'CV_INCOME_FAMILY', 'CV_HH_SIZE.7', 'CV_HIGHEST_DEGREE_0405', 'CV_MSA.7', 'CV_URBAN-RURAL.7', 'YINC-1700.7', 'YINC-1800.7', 'CV_CENSUS_REGION.8', 'CV_HGC_0506', 'CV_INCOME_FAMILY.1', 'CV_HH_SIZE.8', 'CV_HIGHEST_DEGREE_0506', 'CV_MSA.8', 'CV_URBAN-RURAL.8', 'YINC-1700.8', 'YINC-1800.8', 'CV_CENSUS_REGION.9', 'CV_HGC_0607', 'CV_INCOME_FAMILY.2', 'CV_HH_SIZE.9', 'CV_HIGHEST_DEGREE_0607', 'CV_MSA.9', 'CV_URBAN-RURAL.9', 'YINC-1700.9', 'YINC-1800.9', 'CV_CENSUS_REGION.10', 'CV_HGC_0708', 'CV_INCOME_FAMILY.3', 'CV_HH_SIZE.10', 'CV_HIGHEST_DEGREE_0708', 'CV_MSA.10', 'CV_URBAN-RURAL.10', 'YINC-1700.10', 'YINC-1800.10', 'CV_CENSUS_REGION.11', 'CV_HGC_0809', 'CV_INCOME_FAMILY.4', 'CV_HH_SIZE.11', 'CV_HIGHEST_DEGREE_0809', 'CV_MSA.11', 'CV_URBAN-RURAL.11', 'YINC-1700.11', 'YINC-1800.11', 'CV_CENSUS_REGION.12', 'CV_HGC_0910', 'CV_INCOME_FAMILY.5', 'CV_HH_SIZE.12', 'CV_HIGHEST_DEGREE_0910', 'CV_MSA.12', 'CV_URBAN-RURAL.12', 'YINC-1700.12', 'YINC-1800.12', 'CV_CENSUS_REGION.13', 'CV_HGC_EVER_EDT', 'CV_HGC_1011', 'CV_INCOME_FAMILY.6', 'CV_HH_SIZE.13', 'CV_HIGHEST_DEGREE_EVER_EDT', 'CV_HIGHEST_DEGREE_1011', 'CV_MSA.13', 'CV_URBAN-RURAL.13', 'YINC-1700.13', 'YINC-1800.13', 'CV_CENSUS_REGION.14', 'CV_HGC_EVER_EDT.1', 'CV_HGC_1112', 'CV_INCOME_FAMILY.7', 'CV_HH_SIZE.14', 'CV_HIGHEST_DEGREE_EVER_EDT.1', 'CV_HIGHEST_DEGREE_1112', 'CV_MSA.14', 'CV_URBAN-RURAL.14', 'YINC-1700.14', 'YINC-1800.14', 'CV_CENSUS_REGION.15', 'CV_HGC_EVER_EDT.2', 'CV_HGC_1314', 'CV_INCOME_FAMILY.8', 'CV_HH_SIZE.15', 'CV_HIGHEST_DEGREE_EVER_EDT.2', 'CV_HIGHEST_DEGREE_1314', 'CV_MSA.15', 'CV_URBAN-RURAL.15', 'YINC-1700.15', 'YINC-1800.15', 'CV_CENSUS_REGION.16', 'CV_HGC_EVER_EDT.3', 'CV_INCOME_FAMILY.9', 'CV_HH_SIZE.16', 'CV_HIGHEST_DEGREE_EVER_EDT.3', 'CV_MSA.16', 'CV_URBAN-RURAL.16', 'YINC-1700.16', 'YINC-1800.16', 'CV_CENSUS_REGION.17', 'CV_HGC_EVER_EDT.4', 'CV_INCOME_FAMILY.10', 'CV_HH_SIZE.17', 'CV_HIGHEST_DEGREE_EVER_EDT.4', 'CV_MSA.17', 'CV_URBAN-RURAL.17', 'YINC-1700.17', 'YINC-1800.17', 'CV_CENSUS_REGION.18', 'CV_HGC_EVER_EDT.5', 'CV_INCOME_FAMILY.11', 'CV_HH_SIZE.18', 'CV_HIGHEST_DEGREE_EVER_EDT.5', 'CV_MSA.18', 'CV_URBAN-RURAL.18', 'YINC-1700.18', 'YINC-1800.18', 'CV_CENSUS_REGION.19', 'CV_HGC_EVER_EDT.6', 'CV_INCOME_FAMILY.12', 'CV_HH_SIZE.19', 'CV_HIGHEST_DEGREE_EVER_EDT.6', 'CV_MSA.19', 'CV_URBAN-RURAL.19', 'YINC-1700.19', 'YINC-1800.19', 'CVC_HGC_EVER', 'CVC_HIGHEST_DEGREE_EVER', 'CVC_GED', 'CVC_HS_DIPLOMA', 'CVC_AA_DEGREE', 'CVC_BA_DEGREE', 'CVC_PROF_DEGREE', 'CVC_PHD_DEGREE', 'CVC_MA_DEGREE', 'CVC_HS_LEFT_DATE', 'CVC_HS_LEFT_HGC']
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8984 entries, 0 to 8983
Columns: 200 entries, PUBID to CVC_HS_LEFT_HGC
dtypes: int64(200)
memory usage: 13.7 MB

In [318]:

import re

wave_to_year = {
    "": 1997,
    ".1": 1998,
    ".2": 1999,
    ".3": 2000,
    ".4": 2001,
    ".5": 2002,
    ".6": 2003,
    ".7": 2004,
    ".8": 2005,
    ".9": 2006,
    ".10": 2007,
    ".11": 2008,
    ".12": 2009,
    ".13": 2010,
    ".14": 2011,
    ".15": 2013,
    ".16": 2015,
    ".17": 2017,
    ".18": 2019,
    ".19": 2021,
}

static_cols = {
    "PUBID",
    "KEY!SEX",
    "KEY!BDATE_Y",
    "KEY!RACE_ETHNICITY",
    "CV_HH_INCOME_SOURCE",
    "CVC_HGC_EVER",
    "CVC_HIGHEST_DEGREE_EVER",
    "CVC_GED",
    "CVC_HS_DIPLOMA",
    "CVC_AA_DEGREE",
    "CVC_BA_DEGREE",
    "CVC_PROF_DEGREE",
    "CVC_PHD_DEGREE",
    "CVC_MA_DEGREE",
    "CVC_HS_LEFT_DATE",
    "CVC_HS_LEFT_HGC",
}

def rename_with_year(col):
    col = col.strip()

    # 1. Static columns (no time dimension)
    if col in static_cols:
        return col.lower()

    # 2. Already has explicit year (e.g. _1997)
    if re.search(r"_\d{4}$", col):
        return col.lower()

    # 3. Wave-style suffix (.1, .2, .10, etc.)
    match = re.search(r"(\.\d+)$", col)
    suffix = match.group(1) if match else ""

    if suffix in wave_to_year:
        year = wave_to_year[suffix]
        base = col.replace(suffix, "")
        return f"{base.lower()}_{year}"

    # 4. Fallback (should almost never happen)
    return col.lower()

# Apply renaming
df = df.rename(columns={c: rename_with_year(c) for c in df.columns})

# Sanity checks
print("MSA columns:")
print(sorted(c for c in df.columns if c.startswith("cv_msa_")))

print("\nIncome columns (YINC-1700):")
print(sorted(c for c in df.columns if c.startswith("yinc-1700_")))

# Save clean dataset
df.to_csv("data/test.csv", index=False)
len(df)

MSA columns:
['cv_msa_1997', 'cv_msa_1998', 'cv_msa_1999', 'cv_msa_2000', 'cv_msa_2001', 'cv_msa_2002', 'cv_msa_2003', 'cv_msa_2004', 'cv_msa_2005', 'cv_msa_2006', 'cv_msa_2007', 'cv_msa_2008', 'cv_msa_2009', 'cv_msa_2010', 'cv_msa_2011', 'cv_msa_2013', 'cv_msa_2015', 'cv_msa_2017', 'cv_msa_2019', 'cv_msa_2021']

Income columns (YINC-1700):
['yinc-1700_1997', 'yinc-1700_1998', 'yinc-1700_1999', 'yinc-1700_2000', 'yinc-1700_2001', 'yinc-1700_2002', 'yinc-1700_2003', 'yinc-1700_2004', 'yinc-1700_2005', 'yinc-1700_2006', 'yinc-1700_2007', 'yinc-1700_2008', 'yinc-1700_2009', 'yinc-1700_2010', 'yinc-1700_2011', 'yinc-1700_2013', 'yinc-1700_2015', 'yinc-1700_2017', 'yinc-1700_2019', 'yinc-1700_2021']

8984

In [319]:

df = df.rename(columns=lambda c: re.sub(r"^yinc-1700_(\d{4})$", r"yinc_\1", c))
df = df.rename(columns=lambda c: re.sub(r"^yinc-1800_(\d{4})$", r"yinc_est_\1", c))
print(list(df.columns))

['pubid', 'yinc_1997', 'yinc_est_1997', 'key!sex', 'key!bdate_y', 'cv_census_region_1997', 'cv_income_gross_yr_1997', 'cv_hh_income_source', 'cv_hh_size_1997', 'cv_msa_1997', 'cv_urban-rural_1997', 'key!race_ethnicity', 'yinc_1998', 'yinc_est_1998', 'cv_census_region_1998', 'cv_hgc_9899', 'cv_income_gross_yr_1998', 'cv_hh_size_1998', 'cv_highest_degree_9899', 'cv_msa_1998', 'cv_urban-rural_1998', 'yinc_1999', 'yinc_est_1999', 'cv_census_region_1999', 'cv_hgc_9900', 'cv_income_gross_yr_1999', 'cv_hh_size_1999', 'cv_highest_degree_9900', 'cv_msa_1999', 'cv_urban-rural_1999', 'yinc_2000', 'yinc_est_2000', 'cv_census_region_2000', 'cv_hgc_0001', 'cv_income_gross_yr_2000', 'cv_hh_size_2000', 'cv_highest_degree_0001', 'cv_msa_2000', 'cv_urban-rural_2000', 'yinc_2001', 'yinc_est_2001', 'cv_census_region_2001', 'cv_hgc_0102', 'cv_income_gross_yr_2001', 'cv_hh_size_2001', 'cv_highest_degree_0102', 'cv_msa_2001', 'cv_urban-rural_2001', 'yinc_2002', 'yinc_est_2002', 'cv_census_region_2002', 'cv_hgc_0203', 'cv_income_gross_yr_2002', 'cv_hh_size_2002', 'cv_highest_degree_0203', 'cv_msa_2002', 'cv_urban-rural_2002', 'cv_census_region_2003', 'cv_hgc_0304', 'cv_income_gross_yr_2003', 'cv_hh_size_2003', 'cv_highest_degree_0304', 'cv_msa_2003', 'cv_urban-rural_2003', 'yinc_2003', 'yinc_est_2003', 'cv_census_region_2004', 'cv_hgc_0405', 'cv_income_family_1997', 'cv_hh_size_2004', 'cv_highest_degree_0405', 'cv_msa_2004', 'cv_urban-rural_2004', 'yinc_2004', 'yinc_est_2004', 'cv_census_region_2005', 'cv_hgc_0506', 'cv_income_family_1998', 'cv_hh_size_2005', 'cv_highest_degree_0506', 'cv_msa_2005', 'cv_urban-rural_2005', 'yinc_2005', 'yinc_est_2005', 'cv_census_region_2006', 'cv_hgc_0607', 'cv_income_family_1999', 'cv_hh_size_2006', 'cv_highest_degree_0607', 'cv_msa_2006', 'cv_urban-rural_2006', 'yinc_2006', 'yinc_est_2006', 'cv_census_region_2007', 'cv_hgc_0708', 'cv_income_family_2000', 'cv_hh_size_2007', 'cv_highest_degree_0708', 'cv_msa_2007', 'cv_urban-rural_2007', 'yinc_2007', 'yinc_est_2007', 'cv_census_region_2008', 'cv_hgc_0809', 'cv_income_family_2001', 'cv_hh_size_2008', 'cv_highest_degree_0809', 'cv_msa_2008', 'cv_urban-rural_2008', 'yinc_2008', 'yinc_est_2008', 'cv_census_region_2009', 'cv_hgc_0910', 'cv_income_family_2002', 'cv_hh_size_2009', 'cv_highest_degree_0910', 'cv_msa_2009', 'cv_urban-rural_2009', 'yinc_2009', 'yinc_est_2009', 'cv_census_region_2010', 'cv_hgc_ever_edt_1997', 'cv_hgc_1011', 'cv_income_family_2003', 'cv_hh_size_2010', 'cv_highest_degree_ever_edt_1997', 'cv_highest_degree_1011', 'cv_msa_2010', 'cv_urban-rural_2010', 'yinc_2010', 'yinc_est_2010', 'cv_census_region_2011', 'cv_hgc_ever_edt_1998', 'cv_hgc_1112', 'cv_income_family_2004', 'cv_hh_size_2011', 'cv_highest_degree_ever_edt_1998', 'cv_highest_degree_1112', 'cv_msa_2011', 'cv_urban-rural_2011', 'yinc_2011', 'yinc_est_2011', 'cv_census_region_2013', 'cv_hgc_ever_edt_1999', 'cv_hgc_1314', 'cv_income_family_2005', 'cv_hh_size_2013', 'cv_highest_degree_ever_edt_1999', 'cv_highest_degree_1314', 'cv_msa_2013', 'cv_urban-rural_2013', 'yinc_2013', 'yinc_est_2013', 'cv_census_region_2015', 'cv_hgc_ever_edt_2000', 'cv_income_family_2006', 'cv_hh_size_2015', 'cv_highest_degree_ever_edt_2000', 'cv_msa_2015', 'cv_urban-rural_2015', 'yinc_2015', 'yinc_est_2015', 'cv_census_region_2017', 'cv_hgc_ever_edt_2001', 'cv_income_family_2007', 'cv_hh_size_2017', 'cv_highest_degree_ever_edt_2001', 'cv_msa_2017', 'cv_urban-rural_2017', 'yinc_2017', 'yinc_est_2017', 'cv_census_region_2019', 'cv_hgc_ever_edt_2002', 'cv_income_family_2008', 'cv_hh_size_2019', 'cv_highest_degree_ever_edt_2002', 'cv_msa_2019', 'cv_urban-rural_2019', 'yinc_2019', 'yinc_est_2019', 'cv_census_region_2021', 'cv_hgc_ever_edt_2003', 'cv_income_family_2009', 'cv_hh_size_2021', 'cv_highest_degree_ever_edt_2003', 'cv_msa_2021', 'cv_urban-rural_2021', 'yinc_2021', 'yinc_est_2021', 'cvc_hgc_ever', 'cvc_highest_degree_ever', 'cvc_ged', 'cvc_hs_diploma', 'cvc_aa_degree', 'cvc_ba_degree', 'cvc_prof_degree', 'cvc_phd_degree', 'cvc_ma_degree', 'cvc_hs_left_date', 'cvc_hs_left_hgc']

In [320]:
# CHANGE THE YEAR AT THE END OF ACADEMIC SCHOOL YEAR SO INSTEAD OF 0405 IT IS NOW 2005

def rename_school_year(col):
    """
    Convert cv_hgc_0405 -> cv_hgc_2005
    Convert cv_highest_degree_1314 -> cv_highest_degree_2014
    Leave everything else unchanged
    """
    match = re.search(r'_(\d{2})(\d{2})$', col)
    if match:
        start_yy, end_yy = match.groups()
        end_year = int(end_yy)

        # NLSY97 years: 97–99 → 1997–1999, 00–21 → 2000–2021
        if end_year >= 97:
            full_year = 1900 + end_year
        else:
            full_year = 2000 + end_year

        base = col[:match.start()]
        return f"{base}_{full_year}"

    return col


# Apply renaming
df = df.rename(columns={c: rename_school_year(c) for c in df.columns})

In [321]:
print(list(df.columns))
len(df)
df.info()

['pubid', 'yinc_1997', 'yinc_est_1997', 'key!sex', 'key!bdate_y', 'cv_census_region_1997', 'cv_income_gross_yr_1997', 'cv_hh_income_source', 'cv_hh_size_1997', 'cv_msa_1997', 'cv_urban-rural_1997', 'key!race_ethnicity', 'yinc_1998', 'yinc_est_1998', 'cv_census_region_1998', 'cv_hgc_1999', 'cv_income_gross_yr_1998', 'cv_hh_size_1998', 'cv_highest_degree_1999', 'cv_msa_1998', 'cv_urban-rural_1998', 'yinc_1999', 'yinc_est_1999', 'cv_census_region_1999', 'cv_hgc_2000', 'cv_income_gross_yr_1999', 'cv_hh_size_1999', 'cv_highest_degree_2000', 'cv_msa_1999', 'cv_urban-rural_1999', 'yinc_2000', 'yinc_est_2000', 'cv_census_region_2000', 'cv_hgc_2001', 'cv_income_gross_yr_2000', 'cv_hh_size_2000', 'cv_highest_degree_2001', 'cv_msa_2000', 'cv_urban-rural_2000', 'yinc_2001', 'yinc_est_2001', 'cv_census_region_2001', 'cv_hgc_2002', 'cv_income_gross_yr_2001', 'cv_hh_size_2001', 'cv_highest_degree_2002', 'cv_msa_2001', 'cv_urban-rural_2001', 'yinc_2002', 'yinc_est_2002', 'cv_census_region_2002', 'cv_hgc_2003', 'cv_income_gross_yr_2002', 'cv_hh_size_2002', 'cv_highest_degree_2003', 'cv_msa_2002', 'cv_urban-rural_2002', 'cv_census_region_2003', 'cv_hgc_2004', 'cv_income_gross_yr_2003', 'cv_hh_size_2003', 'cv_highest_degree_2004', 'cv_msa_2003', 'cv_urban-rural_2003', 'yinc_2003', 'yinc_est_2003', 'cv_census_region_2004', 'cv_hgc_2005', 'cv_income_family_1997', 'cv_hh_size_2004', 'cv_highest_degree_2005', 'cv_msa_2004', 'cv_urban-rural_2004', 'yinc_2004', 'yinc_est_2004', 'cv_census_region_2005', 'cv_hgc_2006', 'cv_income_family_1998', 'cv_hh_size_2005', 'cv_highest_degree_2006', 'cv_msa_2005', 'cv_urban-rural_2005', 'yinc_2005', 'yinc_est_2005', 'cv_census_region_2006', 'cv_hgc_2007', 'cv_income_family_1999', 'cv_hh_size_2006', 'cv_highest_degree_2007', 'cv_msa_2006', 'cv_urban-rural_2006', 'yinc_2006', 'yinc_est_2006', 'cv_census_region_2007', 'cv_hgc_2008', 'cv_income_family_2000', 'cv_hh_size_2007', 'cv_highest_degree_2008', 'cv_msa_2007', 'cv_urban-rural_2007', 'yinc_2007', 'yinc_est_2007', 'cv_census_region_2008', 'cv_hgc_2009', 'cv_income_family_2001', 'cv_hh_size_2008', 'cv_highest_degree_2009', 'cv_msa_2008', 'cv_urban-rural_2008', 'yinc_2008', 'yinc_est_2008', 'cv_census_region_2009', 'cv_hgc_2010', 'cv_income_family_2002', 'cv_hh_size_2009', 'cv_highest_degree_2010', 'cv_msa_2009', 'cv_urban-rural_2009', 'yinc_2009', 'yinc_est_2009', 'cv_census_region_2010', 'cv_hgc_ever_edt_1997', 'cv_hgc_2011', 'cv_income_family_2003', 'cv_hh_size_2010', 'cv_highest_degree_ever_edt_1997', 'cv_highest_degree_2011', 'cv_msa_2010', 'cv_urban-rural_2010', 'yinc_2010', 'yinc_est_2010', 'cv_census_region_2011', 'cv_hgc_ever_edt_1998', 'cv_hgc_2012', 'cv_income_family_2004', 'cv_hh_size_2011', 'cv_highest_degree_ever_edt_1998', 'cv_highest_degree_2012', 'cv_msa_2011', 'cv_urban-rural_2011', 'yinc_2011', 'yinc_est_2011', 'cv_census_region_2013', 'cv_hgc_ever_edt_1999', 'cv_hgc_2014', 'cv_income_family_2005', 'cv_hh_size_2013', 'cv_highest_degree_ever_edt_1999', 'cv_highest_degree_2014', 'cv_msa_2013', 'cv_urban-rural_2013', 'yinc_2013', 'yinc_est_2013', 'cv_census_region_2015', 'cv_hgc_ever_edt_2000', 'cv_income_family_2006', 'cv_hh_size_2015', 'cv_highest_degree_ever_edt_2000', 'cv_msa_2015', 'cv_urban-rural_2015', 'yinc_2015', 'yinc_est_2015', 'cv_census_region_2017', 'cv_hgc_ever_edt_2001', 'cv_income_family_2007', 'cv_hh_size_2017', 'cv_highest_degree_ever_edt_2001', 'cv_msa_2017', 'cv_urban-rural_2017', 'yinc_2017', 'yinc_est_2017', 'cv_census_region_2019', 'cv_hgc_ever_edt_2002', 'cv_income_family_2008', 'cv_hh_size_2019', 'cv_highest_degree_ever_edt_2002', 'cv_msa_2019', 'cv_urban-rural_2019', 'yinc_2019', 'yinc_est_2019', 'cv_census_region_2021', 'cv_hgc_ever_edt_2003', 'cv_income_family_2009', 'cv_hh_size_2021', 'cv_highest_degree_ever_edt_2003', 'cv_msa_2021', 'cv_urban-rural_2021', 'yinc_2021', 'yinc_est_2021', 'cvc_hgc_ever', 'cvc_highest_degree_ever', 'cvc_ged', 'cvc_hs_diploma', 'cvc_aa_degree', 'cvc_ba_degree', 'cvc_prof_degree', 'cvc_phd_degree', 'cvc_ma_degree', 'cvc_hs_left_date', 'cvc_hs_left_hgc']
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8984 entries, 0 to 8983
Columns: 200 entries, pubid to cvc_hs_left_hgc
dtypes: int64(200)
memory usage: 13.7 MB

In [322]:
yinc_cols = [c for c in df.columns if c.startswith("yinc") or c.startswith("yinc-est")]
print(df[yinc_cols].describe())

len(yinc_cols), yinc_cols[:10]
missing_codes = [-1, -2, -4, -5]

df[yinc_cols] = (
    df[yinc_cols]
    .replace(missing_codes, np.nan)
    .astype("float")
)

print(df[yinc_cols].describe())
print((df[yinc_cols] > 0).sum())


df.to_csv('data/test2.csv', index=False)

          yinc_1997  yinc_est_1997     yinc_1998  yinc_est_1998     yinc_1999  \
count   8984.000000    8984.000000   8984.000000    8984.000000   8984.000000
mean     268.613980      -3.786955    606.068010      -3.767030   1136.497329
std      893.981043       1.028711   1705.574951       1.235284   3178.034570
min       -4.000000      -4.000000     -5.000000      -5.000000     -5.000000
25%       -4.000000      -4.000000     -4.000000      -4.000000     -4.000000
50%       -4.000000      -4.000000     -4.000000      -4.000000     -4.000000
75%      200.000000      -4.000000    400.000000      -4.000000    700.000000
max    40000.000000       6.000000  14048.000000       4.000000  25249.000000

       yinc_est_1999     yinc_2000  yinc_est_2000     yinc_2001  \
count    8984.000000   8984.000000    8984.000000   8984.000000
mean       -3.631122   2063.160619      -3.475846   3414.551202
std         1.526694   4525.288697       1.790010   6183.097129
min        -5.000000     -5.000000      -5.000000     -5.000000
25%        -4.000000     -4.000000      -4.000000     -4.000000
50%        -4.000000     -2.000000      -4.000000      0.000000
75%        -4.000000   2000.000000      -4.000000   4000.000000
max         4.000000  30623.000000       4.000000  35558.000000

       yinc_est_2001  ...      yinc_2013  yinc_est_2013      yinc_2015  \
count    8984.000000  ...    8984.000000    8984.000000    8984.000000
mean       -3.570236  ...   22235.669635      -3.756345   24523.259907
std         1.745900  ...   29887.689391       1.824775   34460.649176
min        -5.000000  ...      -5.000000      -5.000000      -5.000000
25%        -4.000000  ...      -4.000000      -4.000000      -4.000000
50%        -4.000000  ...   11000.000000      -4.000000   10000.000000
75%        -4.000000  ...   36000.000000      -4.000000   40000.000000
max         5.000000  ...  180331.000000       7.000000  212641.000000

       yinc_est_2015      yinc_2017  yinc_est_2017      yinc_2019  \
count    8984.000000    8984.000000    8984.000000    8984.000000
mean       -3.616207   28035.466162      -3.934216   34466.127671
std         2.089681   39228.377735       1.587555   49459.135900
min        -5.000000      -5.000000      -5.000000      -5.000000
25%        -4.000000      -5.000000      -5.000000      -4.000000
50%        -4.000000   14000.000000      -4.000000   21000.000000
75%        -4.000000   45000.000000      -4.000000   52000.000000
max         7.000000  235884.000000       7.000000  328451.000000

       yinc_est_2019      yinc_2021  yinc_est_2021
count    8984.000000    8984.000000    8984.000000
mean       -3.991986   36405.141696      -4.042075
std         1.364106   54970.030437       1.327322
min        -5.000000      -5.000000      -5.000000
25%        -4.000000      -5.000000      -5.000000
50%        -4.000000   18000.000000      -4.000000
75%        -4.000000   55067.750000      -4.000000
max         7.000000  380288.000000       7.000000

[8 rows x 40 columns]
          yinc_1997  yinc_est_1997     yinc_1998  yinc_est_1998     yinc_1999  \
count   3571.000000     357.000000   3614.000000     516.000000   3427.000000
mean     681.629516       1.198880   1512.421693       1.098837   2985.603151
std     1314.455677       0.606333   2420.309795       0.329634   4577.401925
min        0.000000       1.000000      0.000000       1.000000      0.000000
25%      100.000000       1.000000    200.000000       1.000000    450.000000
50%      300.000000       1.000000    600.000000       1.000000   1200.000000
75%      800.000000       1.000000   2000.000000       1.000000   4000.000000
max    40000.000000       6.000000  14048.000000       4.000000  25249.000000

       yinc_est_1999     yinc_2000  yinc_est_2000     yinc_2001  \
count     759.000000   3854.000000    1019.000000   4513.000000
mean        1.246377   4814.400104       1.393523   6801.119876
std         0.549559   5872.328233       0.668692   7284.465818
min         1.000000      0.000000       1.000000      0.000000
25%         1.000000   1000.000000       1.000000   1700.000000
50%         1.000000   2500.000000       1.000000   4000.000000
75%         1.000000   6575.000000       2.000000  10000.000000
max         4.000000  30623.000000       4.000000  35558.000000

       yinc_est_2001  ...      yinc_2013  yinc_est_2013      yinc_2015  \
count     869.000000  ...    5224.000000     550.000000    4987.000000
mean        1.585731  ...   38242.889548       3.043636   44181.511931
std         0.809551  ...   30397.195513       1.247915   35647.343486
min         1.000000  ...       0.000000       1.000000       0.000000
25%         1.000000  ...   20000.000000       2.000000   22000.000000
50%         1.000000  ...   32000.000000       3.000000   37000.000000
75%         2.000000  ...   50000.000000       4.000000   56000.000000
max         5.000000  ...  180331.000000       7.000000  212641.000000

       yinc_est_2015      yinc_2017  yinc_est_2017      yinc_2019  \
count     716.000000    5093.000000     371.000000    5412.000000
mean        3.191341   49457.591596       3.202156   57217.161863
std         1.264240   40681.523360       1.381185   52525.681482
min         1.000000      -3.000000      -3.000000       0.000000
25%         2.000000   25000.000000       2.000000   28000.000000
50%         3.000000   40000.000000       3.000000   45000.000000
75%         4.000000   62000.000000       4.000000   70000.000000
max         7.000000  235884.000000       7.000000  328451.000000

       yinc_est_2019      yinc_2021  yinc_est_2021
count     277.000000    5201.000000     236.000000
mean        3.032491   62888.006729       3.292373
std         1.376179   59616.290306       1.514225
min         1.000000       0.000000       1.000000
25%         2.000000   30000.000000       2.000000
50%         3.000000   50000.000000       3.000000
75%         4.000000   79000.000000       4.000000
max         7.000000  380288.000000       7.000000

[8 rows x 40 columns]
yinc_1997        3507
yinc_est_1997     357
yinc_1998        3553
yinc_est_1998     516
yinc_1999        3384
yinc_est_1999     759
yinc_2000        3817
yinc_est_2000    1019
yinc_2001        4478
yinc_est_2001     869
yinc_2002        4315
yinc_est_2002    1453
yinc_2003        4499
yinc_est_2003    1395
yinc_2004        4457
yinc_est_2004    1379
yinc_2005        4558
yinc_est_2005    1301
yinc_2006        5057
yinc_est_2006    1217
yinc_2007        5058
yinc_est_2007    1208
yinc_2008        5427
yinc_est_2008     877
yinc_2009        5627
yinc_est_2009     649
yinc_2010        5221
yinc_est_2010     632
yinc_2011        5278
yinc_est_2011     530
yinc_2013        5193
yinc_est_2013     550
yinc_2015        4964
yinc_est_2015     716
yinc_2017        5060
yinc_est_2017     370
yinc_2019        5376
yinc_est_2019     277
yinc_2021        5170
yinc_est_2021     236
dtype: int64

In [323]:
static_cols = [
    "pubid",
    "key!sex",
    "key!race_ethnicity",
    "key!bdate_y",
    "cv_hh_income_source",
    "cvc_hgc_ever",
    "cvc_highest_degree_ever",
    "cvc_ged",
    "cvc_hs_diploma",
    "cvc_aa_degree",
    "cvc_ba_degree",
    "cvc_prof_degree",
    "cvc_phd_degree",
    "cvc_ma_degree",
    "cvc_hs_left_date",
    "cvc_hs_left_hgc",
]

import re

time_cols = [c for c in df.columns if re.search(r"_\d{4}$", c)]
print(time_cols)

['yinc_1997', 'yinc_est_1997', 'cv_census_region_1997', 'cv_income_gross_yr_1997', 'cv_hh_size_1997', 'cv_msa_1997', 'cv_urban-rural_1997', 'yinc_1998', 'yinc_est_1998', 'cv_census_region_1998', 'cv_hgc_1999', 'cv_income_gross_yr_1998', 'cv_hh_size_1998', 'cv_highest_degree_1999', 'cv_msa_1998', 'cv_urban-rural_1998', 'yinc_1999', 'yinc_est_1999', 'cv_census_region_1999', 'cv_hgc_2000', 'cv_income_gross_yr_1999', 'cv_hh_size_1999', 'cv_highest_degree_2000', 'cv_msa_1999', 'cv_urban-rural_1999', 'yinc_2000', 'yinc_est_2000', 'cv_census_region_2000', 'cv_hgc_2001', 'cv_income_gross_yr_2000', 'cv_hh_size_2000', 'cv_highest_degree_2001', 'cv_msa_2000', 'cv_urban-rural_2000', 'yinc_2001', 'yinc_est_2001', 'cv_census_region_2001', 'cv_hgc_2002', 'cv_income_gross_yr_2001', 'cv_hh_size_2001', 'cv_highest_degree_2002', 'cv_msa_2001', 'cv_urban-rural_2001', 'yinc_2002', 'yinc_est_2002', 'cv_census_region_2002', 'cv_hgc_2003', 'cv_income_gross_yr_2002', 'cv_hh_size_2002', 'cv_highest_degree_2003', 'cv_msa_2002', 'cv_urban-rural_2002', 'cv_census_region_2003', 'cv_hgc_2004', 'cv_income_gross_yr_2003', 'cv_hh_size_2003', 'cv_highest_degree_2004', 'cv_msa_2003', 'cv_urban-rural_2003', 'yinc_2003', 'yinc_est_2003', 'cv_census_region_2004', 'cv_hgc_2005', 'cv_income_family_1997', 'cv_hh_size_2004', 'cv_highest_degree_2005', 'cv_msa_2004', 'cv_urban-rural_2004', 'yinc_2004', 'yinc_est_2004', 'cv_census_region_2005', 'cv_hgc_2006', 'cv_income_family_1998', 'cv_hh_size_2005', 'cv_highest_degree_2006', 'cv_msa_2005', 'cv_urban-rural_2005', 'yinc_2005', 'yinc_est_2005', 'cv_census_region_2006', 'cv_hgc_2007', 'cv_income_family_1999', 'cv_hh_size_2006', 'cv_highest_degree_2007', 'cv_msa_2006', 'cv_urban-rural_2006', 'yinc_2006', 'yinc_est_2006', 'cv_census_region_2007', 'cv_hgc_2008', 'cv_income_family_2000', 'cv_hh_size_2007', 'cv_highest_degree_2008', 'cv_msa_2007', 'cv_urban-rural_2007', 'yinc_2007', 'yinc_est_2007', 'cv_census_region_2008', 'cv_hgc_2009', 'cv_income_family_2001', 'cv_hh_size_2008', 'cv_highest_degree_2009', 'cv_msa_2008', 'cv_urban-rural_2008', 'yinc_2008', 'yinc_est_2008', 'cv_census_region_2009', 'cv_hgc_2010', 'cv_income_family_2002', 'cv_hh_size_2009', 'cv_highest_degree_2010', 'cv_msa_2009', 'cv_urban-rural_2009', 'yinc_2009', 'yinc_est_2009', 'cv_census_region_2010', 'cv_hgc_ever_edt_1997', 'cv_hgc_2011', 'cv_income_family_2003', 'cv_hh_size_2010', 'cv_highest_degree_ever_edt_1997', 'cv_highest_degree_2011', 'cv_msa_2010', 'cv_urban-rural_2010', 'yinc_2010', 'yinc_est_2010', 'cv_census_region_2011', 'cv_hgc_ever_edt_1998', 'cv_hgc_2012', 'cv_income_family_2004', 'cv_hh_size_2011', 'cv_highest_degree_ever_edt_1998', 'cv_highest_degree_2012', 'cv_msa_2011', 'cv_urban-rural_2011', 'yinc_2011', 'yinc_est_2011', 'cv_census_region_2013', 'cv_hgc_ever_edt_1999', 'cv_hgc_2014', 'cv_income_family_2005', 'cv_hh_size_2013', 'cv_highest_degree_ever_edt_1999', 'cv_highest_degree_2014', 'cv_msa_2013', 'cv_urban-rural_2013', 'yinc_2013', 'yinc_est_2013', 'cv_census_region_2015', 'cv_hgc_ever_edt_2000', 'cv_income_family_2006', 'cv_hh_size_2015', 'cv_highest_degree_ever_edt_2000', 'cv_msa_2015', 'cv_urban-rural_2015', 'yinc_2015', 'yinc_est_2015', 'cv_census_region_2017', 'cv_hgc_ever_edt_2001', 'cv_income_family_2007', 'cv_hh_size_2017', 'cv_highest_degree_ever_edt_2001', 'cv_msa_2017', 'cv_urban-rural_2017', 'yinc_2017', 'yinc_est_2017', 'cv_census_region_2019', 'cv_hgc_ever_edt_2002', 'cv_income_family_2008', 'cv_hh_size_2019', 'cv_highest_degree_ever_edt_2002', 'cv_msa_2019', 'cv_urban-rural_2019', 'yinc_2019', 'yinc_est_2019', 'cv_census_region_2021', 'cv_hgc_ever_edt_2003', 'cv_income_family_2009', 'cv_hh_size_2021', 'cv_highest_degree_ever_edt_2003', 'cv_msa_2021', 'cv_urban-rural_2021', 'yinc_2021', 'yinc_est_2021']

In [324]:
len(time_cols), time_cols

(184,
 ['yinc_1997',
  'yinc_est_1997',
  'cv_census_region_1997',
  'cv_income_gross_yr_1997',
  'cv_hh_size_1997',
  'cv_msa_1997',
  'cv_urban-rural_1997',
  'yinc_1998',
  'yinc_est_1998',
  'cv_census_region_1998',
  'cv_hgc_1999',
  'cv_income_gross_yr_1998',
  'cv_hh_size_1998',
  'cv_highest_degree_1999',
  'cv_msa_1998',
  'cv_urban-rural_1998',
  'yinc_1999',
  'yinc_est_1999',
  'cv_census_region_1999',
  'cv_hgc_2000',
  'cv_income_gross_yr_1999',
  'cv_hh_size_1999',
  'cv_highest_degree_2000',
  'cv_msa_1999',
  'cv_urban-rural_1999',
  'yinc_2000',
  'yinc_est_2000',
  'cv_census_region_2000',
  'cv_hgc_2001',
  'cv_income_gross_yr_2000',
  'cv_hh_size_2000',
  'cv_highest_degree_2001',
  'cv_msa_2000',
  'cv_urban-rural_2000',
  'yinc_2001',
  'yinc_est_2001',
  'cv_census_region_2001',
  'cv_hgc_2002',
  'cv_income_gross_yr_2001',
  'cv_hh_size_2001',
  'cv_highest_degree_2002',
  'cv_msa_2001',
  'cv_urban-rural_2001',
  'yinc_2002',
  'yinc_est_2002',
  'cv_census_region_2002',
  'cv_hgc_2003',
  'cv_income_gross_yr_2002',
  'cv_hh_size_2002',
  'cv_highest_degree_2003',
  'cv_msa_2002',
  'cv_urban-rural_2002',
  'cv_census_region_2003',
  'cv_hgc_2004',
  'cv_income_gross_yr_2003',
  'cv_hh_size_2003',
  'cv_highest_degree_2004',
  'cv_msa_2003',
  'cv_urban-rural_2003',
  'yinc_2003',
  'yinc_est_2003',
  'cv_census_region_2004',
  'cv_hgc_2005',
  'cv_income_family_1997',
  'cv_hh_size_2004',
  'cv_highest_degree_2005',
  'cv_msa_2004',
  'cv_urban-rural_2004',
  'yinc_2004',
  'yinc_est_2004',
  'cv_census_region_2005',
  'cv_hgc_2006',
  'cv_income_family_1998',
  'cv_hh_size_2005',
  'cv_highest_degree_2006',
  'cv_msa_2005',
  'cv_urban-rural_2005',
  'yinc_2005',
  'yinc_est_2005',
  'cv_census_region_2006',
  'cv_hgc_2007',
  'cv_income_family_1999',
  'cv_hh_size_2006',
  'cv_highest_degree_2007',
  'cv_msa_2006',
  'cv_urban-rural_2006',
  'yinc_2006',
  'yinc_est_2006',
  'cv_census_region_2007',
  'cv_hgc_2008',
  'cv_income_family_2000',
  'cv_hh_size_2007',
  'cv_highest_degree_2008',
  'cv_msa_2007',
  'cv_urban-rural_2007',
  'yinc_2007',
  'yinc_est_2007',
  'cv_census_region_2008',
  'cv_hgc_2009',
  'cv_income_family_2001',
  'cv_hh_size_2008',
  'cv_highest_degree_2009',
  'cv_msa_2008',
  'cv_urban-rural_2008',
  'yinc_2008',
  'yinc_est_2008',
  'cv_census_region_2009',
  'cv_hgc_2010',
  'cv_income_family_2002',
  'cv_hh_size_2009',
  'cv_highest_degree_2010',
  'cv_msa_2009',
  'cv_urban-rural_2009',
  'yinc_2009',
  'yinc_est_2009',
  'cv_census_region_2010',
  'cv_hgc_ever_edt_1997',
  'cv_hgc_2011',
  'cv_income_family_2003',
  'cv_hh_size_2010',
  'cv_highest_degree_ever_edt_1997',
  'cv_highest_degree_2011',
  'cv_msa_2010',
  'cv_urban-rural_2010',
  'yinc_2010',
  'yinc_est_2010',
  'cv_census_region_2011',
  'cv_hgc_ever_edt_1998',
  'cv_hgc_2012',
  'cv_income_family_2004',
  'cv_hh_size_2011',
  'cv_highest_degree_ever_edt_1998',
  'cv_highest_degree_2012',
  'cv_msa_2011',
  'cv_urban-rural_2011',
  'yinc_2011',
  'yinc_est_2011',
  'cv_census_region_2013',
  'cv_hgc_ever_edt_1999',
  'cv_hgc_2014',
  'cv_income_family_2005',
  'cv_hh_size_2013',
  'cv_highest_degree_ever_edt_1999',
  'cv_highest_degree_2014',
  'cv_msa_2013',
  'cv_urban-rural_2013',
  'yinc_2013',
  'yinc_est_2013',
  'cv_census_region_2015',
  'cv_hgc_ever_edt_2000',
  'cv_income_family_2006',
  'cv_hh_size_2015',
  'cv_highest_degree_ever_edt_2000',
  'cv_msa_2015',
  'cv_urban-rural_2015',
  'yinc_2015',
  'yinc_est_2015',
  'cv_census_region_2017',
  'cv_hgc_ever_edt_2001',
  'cv_income_family_2007',
  'cv_hh_size_2017',
  'cv_highest_degree_ever_edt_2001',
  'cv_msa_2017',
  'cv_urban-rural_2017',
  'yinc_2017',
  'yinc_est_2017',
  'cv_census_region_2019',
  'cv_hgc_ever_edt_2002',
  'cv_income_family_2008',
  'cv_hh_size_2019',
  'cv_highest_degree_ever_edt_2002',
  'cv_msa_2019',
  'cv_urban-rural_2019',
  'yinc_2019',
  'yinc_est_2019',
  'cv_census_region_2021',
  'cv_hgc_ever_edt_2003',
  'cv_income_family_2009',
  'cv_hh_size_2021',
  'cv_highest_degree_ever_edt_2003',
  'cv_msa_2021',
  'cv_urban-rural_2021',
  'yinc_2021',
  'yinc_est_2021'])

In [325]:
long_df = df.melt(
    id_vars=static_cols,
    value_vars=time_cols,
    var_name="variable",
    value_name="value"
)

# extract the year (YYYY) from the column name
long_df["year"] = (
    long_df["variable"]
    .str.extract(r"(\d{4})")
    .astype(int)
)
print(long_df['year'].unique())

# remove the _YYYY suffix from the variable name
long_df["variable"] = (
    long_df["variable"]
    .str.replace(r"_\d{4}$", "", regex=True)
)


sorted(long_df["variable"].unique())

[1997 1998 1999 2000 2001 2002 2003 2004 2005 2006 2007 2008 2009 2010
 2011 2012 2013 2014 2015 2017 2019 2021]

['cv_census_region',
 'cv_hgc',
 'cv_hgc_ever_edt',
 'cv_hh_size',
 'cv_highest_degree',
 'cv_highest_degree_ever_edt',
 'cv_income_family',
 'cv_income_gross_yr',
 'cv_msa',
 'cv_urban-rural',
 'yinc',
 'yinc_est']

In [326]:
long_df["year"].value_counts().sort_index().head(10)

#check variable names (should NOT contain years anymore)
long_df["variable"].value_counts().head(10)

# confirm no leftover _YYYY
long_df["variable"].str.contains(r"\d{4}").sum()

0

In [327]:
long_df.columns

Index(['pubid', 'key!sex', 'key!race_ethnicity', 'key!bdate_y',
       'cv_hh_income_source', 'cvc_hgc_ever', 'cvc_highest_degree_ever',
       'cvc_ged', 'cvc_hs_diploma', 'cvc_aa_degree', 'cvc_ba_degree',
       'cvc_prof_degree', 'cvc_phd_degree', 'cvc_ma_degree',
       'cvc_hs_left_date', 'cvc_hs_left_hgc', 'variable', 'value', 'year'],
      dtype='object')

In [328]:
long_df["variable"] = long_df["variable"].replace({
    "yinc": "income_wages",
    "yinc_est": "income_wages_est"
})

In [329]:
panel_df = (
    long_df
    .pivot_table(
        index=static_cols + ["year"],
        columns="variable",
        values="value",
        aggfunc="first"   # critical: do NOT aggregate income
    )
    .reset_index()
)

panel_df.columns.name = None
panel_df.columns = panel_df.columns.str.lower()

In [330]:
target_cols = [
    "income_wages",
    "income_wages_est",
    "hh_income",
    "hh_income_family",
    "highest_grade_completed",
    "highest_degree"
]

for col in target_cols:
    if col in panel_df.columns:
        panel_df.loc[panel_df[col] < 0, col] = np.nan

In [331]:
panel_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 197648 entries, 0 to 197647
Data columns (total 29 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   pubid                       197648 non-null  int64
 1   key!sex                     197648 non-null  int64
 2   key!race_ethnicity          197648 non-null  int64
 3   key!bdate_y                 197648 non-null  int64
 4   cv_hh_income_source         197648 non-null  int64
 5   cvc_hgc_ever                197648 non-null  int64
 6   cvc_highest_degree_ever     197648 non-null  int64
 7   cvc_ged                     197648 non-null  int64
 8   cvc_hs_diploma              197648 non-null  int64
 9   cvc_aa_degree               197648 non-null  int64
 10  cvc_ba_degree               197648 non-null  int64
 11  cvc_prof_degree             197648 non-null  int64
 12  cvc_phd_degree              197648 non-null  int64
 13  cvc_ma_degree               197648 non-null  int64
 14  cvc_hs_left_date            197648 non-null  int64
 15  cvc_hs_left_hgc             197648 non-null  int64
 16  year                        197648 non-null  int32
 17  cv_census_region            179680 non-null  float64
 18  cv_hgc                      134760 non-null  float64
 19  cv_hgc_ever_edt             62888 non-null   float64
 20  cv_hh_size                  179680 non-null  float64
 21  cv_highest_degree           134760 non-null  float64
 22  cv_highest_degree_ever_edt  62888 non-null   float64
 23  cv_income_family            116792 non-null  float64
 24  cv_income_gross_yr          62888 non-null   float64
 25  cv_msa                      179680 non-null  float64
 26  cv_urban-rural              179680 non-null  float64
 27  income_wages                94714 non-null   float64
 28  income_wages_est            16310 non-null   float64
dtypes: float64(12), int32(1), int64(16)
memory usage: 43.0 MB

In [332]:
panel_df["age"] = panel_df["year"] - panel_df["key!bdate_y"]
panel_df["teen"] = ((panel_df["age"] >= 13) & (panel_df["age"] <= 18)).astype(int)
panel_df.groupby("pubid")["year"].nunique().describe()
panel_df["income_wages"].notna().sum()
panel_df.to_csv("data/nlsy97_panel.csv", index=False)

In [333]:
panel_df.info()
panel_df.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 197648 entries, 0 to 197647
Data columns (total 31 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   pubid                       197648 non-null  int64
 1   key!sex                     197648 non-null  int64
 2   key!race_ethnicity          197648 non-null  int64
 3   key!bdate_y                 197648 non-null  int64
 4   cv_hh_income_source         197648 non-null  int64
 5   cvc_hgc_ever                197648 non-null  int64
 6   cvc_highest_degree_ever     197648 non-null  int64
 7   cvc_ged                     197648 non-null  int64
 8   cvc_hs_diploma              197648 non-null  int64
 9   cvc_aa_degree               197648 non-null  int64
 10  cvc_ba_degree               197648 non-null  int64
 11  cvc_prof_degree             197648 non-null  int64
 12  cvc_phd_degree              197648 non-null  int64
 13  cvc_ma_degree               197648 non-null  int64
 14  cvc_hs_left_date            197648 non-null  int64
 15  cvc_hs_left_hgc             197648 non-null  int64
 16  year                        197648 non-null  int32
 17  cv_census_region            179680 non-null  float64
 18  cv_hgc                      134760 non-null  float64
 19  cv_hgc_ever_edt             62888 non-null   float64
 20  cv_hh_size                  179680 non-null  float64
 21  cv_highest_degree           134760 non-null  float64
 22  cv_highest_degree_ever_edt  62888 non-null   float64
 23  cv_income_family            116792 non-null  float64
 24  cv_income_gross_yr          62888 non-null   float64
 25  cv_msa                      179680 non-null  float64
 26  cv_urban-rural              179680 non-null  float64
 27  income_wages                94714 non-null   float64
 28  income_wages_est            16310 non-null   float64
 29  age                         197648 non-null  int64
 30  teen                        197648 non-null  int32
dtypes: float64(12), int32(2), int64(17)
memory usage: 45.2 MB

,pubid,key!sex,key!race_ethnicity,key!bdate_y,cv_hh_income_source,cvc_hgc_ever,cvc_highest_degree_ever,cvc_ged,cvc_hs_diploma,cvc_aa_degree,...,cv_highest_degree,cv_highest_degree_ever_edt,cv_income_family,cv_income_gross_yr,cv_msa,cv_urban-rural,income_wages,income_wages_est,age,teen
count,197648.000000,197648.000000,197648.000000,197648.000000,197648.000000,197648.000000,197648.000000,197648.000000,197648.000000,197648.000000,...,134760.000000,62888.000000,116792.000000,62888.000000,179680.000000,179680.000000,94714.000000,16310.000000,197648.000000,197648.000000
mean,4504.301759,1.488090,2.787845,1982.010352,1.020370,13.722952,2.459595,33.213491,188.418856,42.173642,...,0.646705,0.861691,47318.870539,24497.348524,1.173787,-0.112378,26522.696117,2.176824,25.762376,0.182289
std,2602.997575,0.499859,1.313575,1.396796,0.141261,5.029926,1.557929,99.354307,111.986001,120.790558,...,2.655257,3.322498,66758.757714,44256.838295,2.739134,2.174003,32622.867159,1.161971,6.937355,0.386083
min,1.000000,1.000000,1.000000,1980.000000,1.000000,-3.000000,-3.000000,-4.000000,-4.000000,-4.000000,...,-5.000000,-5.000000,-5.000000,-48100.000000,-5.000000,-5.000000,0.000000,1.000000,13.000000,0.000000
25%,2248.750000,1.000000,1.000000,1981.000000,1.000000,12.000000,2.000000,-4.000000,209.750000,-4.000000,...,0.000000,0.000000,-3.000000,-4.000000,2.000000,0.000000,5000.000000,1.000000,20.000000,0.000000
50%,4501.500000,1.000000,4.000000,1982.000000,1.000000,13.000000,2.000000,-4.000000,245.000000,-4.000000,...,2.000000,2.000000,27000.000000,-2.000000,2.000000,1.000000,18900.000000,2.000000,25.000000,0.000000
75%,6758.250000,2.000000,4.000000,1983.000000,1.000000,16.000000,4.000000,-4.000000,258.000000,-4.000000,...,2.000000,3.000000,70000.000000,36000.000000,3.000000,1.000000,36000.000000,3.000000,31.000000,0.000000
max,9022.000000,2.000000,4.000000,1984.000000,2.000000,95.000000,7.000000,503.000000,502.000000,504.000000,...,7.000000,7.000000,599728.000000,425586.000000,5.000000,2.000000,380288.000000,7.000000,41.000000,1.000000

In [334]:
import numpy as np

num_cols = panel_df.select_dtypes(include=["int64", "float64"]).columns
panel_df[num_cols] = panel_df[num_cols].mask(panel_df[num_cols] < 0)

In [335]:
panel_df["race_black"] = (panel_df["key!race_ethnicity"] == 1).astype(int)
panel_df["race_hispanic"] = (panel_df["key!race_ethnicity"] == 2).astype(int)
panel_df["race_mixed"] = (panel_df["key!race_ethnicity"] == 3).astype(int)

panel_df = panel_df.drop(columns=["key!race_ethnicity"])

In [336]:
panel_df = panel_df.sort_values(["pubid", "year"])
panel_df["moved"] = (
    panel_df.groupby("pubid")["cv_census_region"]
    .diff()
    .notna()
    .astype(int)
)
panel_df["teen_move"] = panel_df["moved"] * panel_df["teen"]

In [337]:
panel_df.to_csv('data/panel_data.csv', index=False)

In [338]:
panel_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 197648 entries, 0 to 197647
Data columns (total 35 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   pubid                       197648 non-null  int64
 1   key!sex                     197648 non-null  int64
 2   key!bdate_y                 197648 non-null  int64
 3   cv_hh_income_source         197648 non-null  int64
 4   cvc_hgc_ever                195448 non-null  float64
 5   cvc_highest_degree_ever     196944 non-null  float64
 6   cvc_ged                     25168 non-null   float64
 7   cvc_hs_diploma              148588 non-null  float64
 8   cvc_aa_degree               26070 non-null   float64
 9   cvc_ba_degree               52536 non-null   float64
 10  cvc_prof_degree             2816 non-null    float64
 11  cvc_phd_degree              1430 non-null    float64
 12  cvc_ma_degree               15774 non-null   float64
 13  cvc_hs_left_date            193864 non-null  float64
 14  cvc_hs_left_hgc             192368 non-null  float64
 15  year                        197648 non-null  int32
 16  cv_census_region            150605 non-null  float64
 17  cv_hgc                      113909 non-null  float64
 18  cv_hgc_ever_edt             49019 non-null   float64
 19  cv_hh_size                  151588 non-null  float64
 20  cv_highest_degree           114442 non-null  float64
 21  cv_highest_degree_ever_edt  49331 non-null   float64
 22  cv_income_family            80906 non-null   float64
 23  cv_income_gross_yr          30699 non-null   float64
 24  cv_msa                      151271 non-null  float64
 25  cv_urban-rural              150402 non-null  float64
 26  income_wages                94714 non-null   float64
 27  income_wages_est            16310 non-null   float64
 28  age                         197648 non-null  int64
 29  teen                        197648 non-null  int32
 30  race_black                  197648 non-null  int32
 31  race_hispanic               197648 non-null  int32
 32  race_mixed                  197648 non-null  int32
 33  moved                       197648 non-null  int32
 34  teen_move                   197648 non-null  int32
dtypes: float64(23), int32(7), int64(5)
memory usage: 47.5 MB